<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://cdn.sencha.io/ext-4.0.2a/resources/css/ext-all.css"/>
  <script src="http://cdn.sencha.io/ext-4.0.2a/bootstrap.js"></script>

  <title>Extjra - ExtJS Rails Admin</title>

  <%= yield(:head) %>
</head>
<body>
<%= yield %>
</body>
</html>